XMI3.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2024 rel. 2 (x64) (https://www.altova.com) -->
<xs:schema targetNamespace="http://www.sparxsystems.com/profiles/thecustomprofile/1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Afkorting">
		<xs:complexType>
			<xs:attribute name="base_Package" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EAPK_2DDFF848_3BD1_468d_B6AC_647869BF5574"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Afkorting" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="CimVTH_Flo"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Informatiemodel_type">
		<xs:complexType>
			<xs:attribute name="base_Package" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EAPK_2DDFF848_3BD1_468d_B6AC_647869BF5574"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="__EAStereoName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Informatiemodel type"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Informatiemodel_type" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Conceptueel"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="Versie_ID">
		<xs:complexType>
			<xs:attribute name="base_Package" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EAPK_2DDFF848_3BD1_468d_B6AC_647869BF5574"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="__EAStereoName" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="Versie ID"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="Versie_ID" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="00.08.00"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="basismodel">
		<xs:complexType>
			<xs:attribute name="base_Package" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EAPK_2DDFF848_3BD1_468d_B6AC_647869BF5574"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="isID">
		<xs:complexType>
			<xs:attribute name="base_Property" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EAID_dst1682CC_FE08_4055_8614_521E4779C05E"/>
						<xs:enumeration value="EAID_dst369107_0561_4ffc_BE77_850E285C1D97"/>
						<xs:enumeration value="EAID_dst3B75DF_3A38_4c71_977C_EE1FB3AA8910"/>
						<xs:enumeration value="EAID_dst817A15_46F1_4cd6_9C0E_BC258AB77B86"/>
						<xs:enumeration value="EAID_dstAB4972_2AD7_449b_B8F8_E22D30BB7C67"/>
						<xs:enumeration value="EAID_dstC81575_9846_476c_A144_032AAB37D283"/>
						<xs:enumeration value="EAID_srcB8843B_85DA_4e8a_BDE9_2037B0527269"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="release">
		<xs:complexType>
			<xs:attribute name="base_Package" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EAPK_2DDFF848_3BD1_468d_B6AC_647869BF5574"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="release" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:int">
						<xs:enumeration value="20240901"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
