XMI /XMI1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- W3C Schema generated by XMLSpy v2024 rel. 2 (x64) (https://www.altova.com) -->
<xs:schema targetNamespace="http://schema.omg.org/spec/UML/2.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xmi="http://schema.omg.org/spec/XMI/2.1" xmlns:MIM="http://www.sparxsystems.com/profiles/MIM/1.1" xmlns:thecustomprofile="http://www.sparxsystems.com/profiles/thecustomprofile/1.0">
	<xs:import schemaLocation="XMI2.xsd"/>
	<xs:import namespace="http://schema.omg.org/spec/XMI/2.1" schemaLocation="XMI.xsd"/>
	<xs:import namespace="http://www.sparxsystems.com/profiles/MIM/1.1" schemaLocation="XMI4.xsd"/>
	<xs:import namespace="http://www.sparxsystems.com/profiles/thecustomprofile/1.0" schemaLocation="XMI3.xsd"/>
	<xs:element name="Model">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="packagedElement"/>
				<xs:element ref="thecustomprofile:basismodel"/>
				<xs:element ref="thecustomprofile:Afkorting"/>
				<xs:element ref="MIM:Informatiemodel"/>
				<xs:element ref="thecustomprofile:release"/>
				<xs:element ref="thecustomprofile:Informatiemodel_type"/>
				<xs:element ref="thecustomprofile:Versie_ID"/>
				<xs:element ref="MIM:View" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Relatiesoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Relatiesoort"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Relatiesoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Generalisatie"/>
				<xs:element ref="MIM:Relatiesoort"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Relatiesoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Generalisatie"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Relatiesoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Relatiesoort"/>
				<xs:element ref="thecustomprofile:isID"/>
				<xs:element ref="MIM:Relatiesoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort"/>
				<xs:element ref="MIM:Generalisatie"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Relatiesoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort"/>
				<xs:element ref="MIM:Relatiesoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Relatiesoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Relatiesoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Relatiesoort"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Relatiesoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Relatiesoort"/>
				<xs:element ref="MIM:Generalisatie"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Relatiesoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort"/>
				<xs:element ref="MIM:Generalisatie"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Generalisatie"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Generalisatie"/>
				<xs:element ref="MIM:Relatiesoort"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Generalisatie"/>
				<xs:element ref="MIM:Relatiesoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Relatiesoort"/>
				<xs:element ref="thecustomprofile:isID"/>
				<xs:element ref="MIM:Relatiesoort"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort"/>
				<xs:element ref="MIM:Generalisatie"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Relatiesoort"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Generalisatie"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="thecustomprofile:isID"/>
				<xs:element ref="MIM:Relatiesoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="thecustomprofile:isID"/>
				<xs:element ref="MIM:Relatiesoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Relatiesoort"/>
				<xs:element ref="thecustomprofile:isID"/>
				<xs:element ref="MIM:Relatiesoort"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="thecustomprofile:isID"/>
				<xs:element ref="MIM:Relatiesoort"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Generalisatie"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort"/>
				<xs:element ref="MIM:Relatiesoort"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Relatiesoort"/>
				<xs:element ref="thecustomprofile:isID"/>
				<xs:element ref="MIM:Relatiesoort"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Objecttype"/>
				<xs:element ref="MIM:Attribuutsoort" maxOccurs="unbounded"/>
				<xs:element ref="MIM:Domein"/>
				<xs:element ref="MIM:View" maxOccurs="unbounded"/>
			</xs:sequence>
			<xs:attribute ref="xmi:type" use="required"/>
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="EA_Model"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
			<xs:attribute name="visibility" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="public"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
</xs:schema>
